<!-- Config file for the game -->

<config>
  <app cap_frames="false" framerate_cap="60">
    <title>Final Fantasy: Dawn of Ivalice</title>
    <organization>Pink King Games</organization>
  </app>
	
  <renderer>
    <vsync value="true"/>
  </renderer>

  <window>
    <resolution width="1280" height="720" scale="2"/>
    <fullscreen value="false"/>
    <borderless value="false"/>
    <resizable value="false"/>
    <fullscreen_window value="false"/>
  </window>

  <file_system>
    <path>data.zip</path>
  </file_system>

  <gui>
    <atlas file="gui/atlasUi.png"/>
  </gui>

  <scene>
    <InGameUi>
      <images>

        <image name="loot_item_panel">
          <section x="640" y="222" w="244" h="257"/>
          <flag  value="loot" />
        </image>
        <image name="loot_item_panel_no_button">
          <section x="922" y="222" w="238" h="243"/>
          <flag  value="lootNoButton" />
        </image>
        <image name="life_bar">
          <section x="110" y="482" w="134" h="26"/>
          <position x="32" y="133"/>
        </image>
        <image name="bag">
          <section x="309" y="32" w="47" h="45"/>
          <position x="1220" y="22"/>
        </image>
        <image name="backButton">
          <section x="275" y="546" w="30" h="30"/>
          <position x="1180" y="31"/>
        </image>
        <image name="LButton">
          <section x="244" y="525" w="30" h="19"/>
          <position x="173" y="19 "/>
        </image>
        <image name="RButton">
          <section x="244" y="545" w="30" h="19"/>
          <position x="252" y="19 "/>
        </image>
        <image name="box_player">
          <section x="1033" y="1" w="94" h="109"/>
          <position x="40" y="21"/>
        </image>
        <image name="dPad">
          <section x="527" y="105" w="52" h="52"/>
          <position x="1170" y="617"/>
        </image>
        <image name="potion">
          <section x="580" y="105" w="26" h="32"/>
          <position x="1232" y="625"/>
        </image>
        <!--
        <image name="level_box">
          <section x="1 " y="519" w="57" h="24"/>
          <position x="40" y="134"/>
        </image>
        -->
        <image name="coin">
          <section x="59" y="519" w="25" h="25"/>
          <position x="1121" y="31"/>
        </image>

      </images>


      <healthbars>
        <healthbar name="life_bar">
          <dynamicSection x="0" y="432" w="153" h="31"/>
          <damageSection x="28" y="414" w="126" h="16"/>
          <position x="32" y="133"/>
          <type value="player"/>
        </healthbar>

        <healthbar name="life_bar_enemy">
          <dynamicSection x="90" y="690" w="52" h="6"/>
          <position x="113" y="78"/>
          <type value="enemy"/>
        </healthbar>

      </healthbars>


      <clocks>
        <clock name="ability1_clock">
          <section x="859" y="126" w="51" h="51"/>
          <position x="160" y="635"/>
          <type value="ability1"/>
        </clock>

        <clock name="ability2_clock">
          <section x="859" y="126" w="51" h="51"/>
          <position x="220" y="635"/>
          <type value="ability2"/>
        </clock>

        <clock name="ulti_clock">
          <section x="859" y="126" w="51" h="51"/>
          <position x="280" y="635"/>                         
          <type value="ulti"/>

        </clock>

      </clocks>


    </InGameUi>



    <InGameUiM>
      <images>
        <image name="basic_marche">
          <section x="371" y="1" w="51" h="51"/>
          <position x="40" y="635 "/>
        </image>
        <image name="dash_marche">
          <section x="371" y="105" w="51" h="51"/>
          <position x="100" y="635"/>
        </image>
        <image name="tornado_marche">
          <section x="475" y="1" w="51" h="51"/>
          <position x="220" y="635"/>
        </image>
        <image name="scarWind_shara">
          <section x="423" y="157" w="51" h="51"/>
          <position x="160" y="635"/>
        </image>
        <image name="rage_marche">
          <section x="423" y="1" w="51" h="51"/>
          <position x="280" y="635"/>
        </image>
        <image name="marche">
          <section x="641" y="1" w="84" h="92"/>
          <position x="41" y="37"/>
        </image>
        <image name="player2">
          <section x="342" y=" 481" w="64" h="64"/>
          <position x="229" y="41"/>
        </image>
        <image name="player3">
          <section x="283" y="481" w="58" h="64"/>
          <position x="153" y="41"/>
        </image>
        <image name="basic_button">
          <section x="346" y="6" w="24" h="24"/>
          <position x="53" y="609"/>
        </image>

        <image name="dash_button">
          <section x="287" y="6" w="24" h="24"/>
          <position x="113" y="609"/>
        </image>

        <image name="tornado_button">
          <section x="228" y="2" w="24" h="30"/>
          <position x="233" y="603"/>
        </image>
        <image name="rage_button">
          <section x="287" y="32" w="21" h="30"/>
          <position x="295" y="603"/>
        </image>


      </images>
    </InGameUiM>


    <InGameUiS>
      <images>
        <image name="basic_shara">
          <section x="423" y="53" w="51" h="51"/>
          <position x="40" y="635 "/>
        </image>
        <image name="dash_shara">
          <section x="423" y="105" w="51" h="51"/>
          <position x="100" y="635"/>
        </image>
        <image name="fireArrow_shara">
          <section x="475" y="53" w="51" h="51"/>
          <position x="160" y="635"/>
        </image>
        <image name="contagious_shara">
          <section x="527" y="53" w="51" h="51"/>
          <position x="220" y="635"/>
        </image>
        <image name="skyShot_shara">
          <section x="579" y="53" w="51" h="51"/>
          <position x="280" y="635"/>
        </image>
        <image name="shara">
          <section x="1129" y="1" w="96" h="100"/>
          <position x="41" y="29"/>
        </image>
        <image name="player2">
          <section x="407" y="481" w="62" h="62"/>
          <position x="229" y="41"/>
        </image>
        <image name="player3">
          <section x="342" y=" 481" w="64" h="64"/>
          <position x="153" y="41"/>
        </image>
        <image name="basic_button">
          <section x="312" y="1" w="58" h="30"/>
          <position x="36" y="603"/>
        </image>

        <image name="dash_button">
          <section x="253" y="1" w="58" h="30"/>
          <position x="96" y="603"/>
        </image>

        <image name="fireArrow_button">
          <section x="194" y="33" w="58" h="30"/>
          <position x="156" y="603"/>
        </image>
        <image name="contagious_button">
          <section x="194" y="2" w="58" h="30"/>
          <position x="218" y="603"/>
        </image>
        <image name="skiShot_button">
          <section x="253" y="32" w="55" h="30"/>
          <position x="278" y="603"/>
        </image>
      </images>
    </InGameUiS>



    <InGameUiR>
      <images>
        <image name="basic_ritz">
          <section x="527" y="1" w="51" h="51"/>
          <position x="40" y="635 "/>
        </image>
        <image name="dash_ritz">
          <section x="475" y="105" w="51" h="51"/>
          <position x="100" y="635"/>
        </image>
        <image name="teleport_ritz">
          <section x="371" y="53" w="51" h="51"/>
          <position x="160" y="635"/>
        </image>
        <image name="medusa_shara">
          <section x="371" y="157" w="51" h="51"/>
          <position x="220" y="635"/>
        </image>
        <image name="deathCircle_ritz">
          <section x="579" y="1" w="51" h="51"/>
          <position x="280" y="635"/>
        </image>
        <image name="ritz">
          <section x="940" y="1" w="92" h="96"/>
          <position x="41" y="33"/>
        </image>
        <image name="player2">
          <section x="283" y=" 481" w="58" h="64"/>
          <position x="229" y="41"/>
        </image>
        <image name="player3">
          <section x="407" y="481" w="62" h="62"/>
          <position x="153" y="41"/>
        </image>
        <image name="basic_button">
          <section x="312" y="1" w="58" h="30"/>
          <position x="36" y="603"/>
        </image>

        <image name="dash_button">
          <section x="253" y="1" w="58" h="30"/>
          <position x="96" y="603"/>
        </image>

        <image name="teleport_button">
          <section x="194" y="33" w="58" h="30"/>
          <position x="156" y="603"/>
        </image>
        <image name="deathCircle_button">
          <section x="253" y="32" w="55" h="30"/>
          <position x="278" y="603"/>
        </image>
      </images>
    </InGameUiR>



    <StartMenu>
      <images>
        <image name="backgroundMenu">
          <section x="0" y="810" w="1280" h="720"/>
          <position x="0" y="0"/>
        </image>
      </images>
      <buttons>
        <button name="button_ingame" function = "FadeToScene">
          <idleSec x="856" y="2252" w="216" h="67"/>
          <hoverSec x="856" y="2320" w="216" h="67" />
          <clickSec x="856" y="2388" w="216" h="67" />
          <position x="101" y="360"/>
        </button>
        <button name="button_settings" function = "SettingsScreen">
          <idleSec x="1073" y="2252" w="216" h="67"/>
          <hoverSec x="1073" y="2320" w="216" h="67" />
          <clickSec x="1073" y="2388" w="216" h="67" />
          <position x="101" y="460"/>
        </button>
        <button name="button_exit" function = "ExitGame">
        <idleSec x="856" y="2456" w="216" h="67"/>
          <hoverSec x="856" y="2524" w="216" h="67" />
          <clickSec x="856" y="2592" w="216" h="67" />
          <position x="101" y="560"/>
        </button>

      </buttons>
    </StartMenu>

    <Settings>

      <images>
        <image name="backgroundSettings">
          <section x="0" y="1531" w="1280" h="720"/>
          <position x="0" y="0"/>
        </image>
        
      </images>

      <labels>
        <label name="Settings">
          <position x="541" y="60"/>
          <color R="255" G="255" B="255" A="255"/>
          <text value="SETTINGS"/>
        </label>
      </labels>

      <panelBars>

        <panelBar name="volumeSlider">
          <section_bar x="1101" y="610" w="215" h="34"/>
          <position x="267" y="297"/>
          <section_thumb x="1150" y="558" w="42" h="42"/>
          <image_idle x="470" y="481" w="55" h="53"/>
          <image_hover x="219" y="566" w="56" h="54"/>
          <type value = "HORIZONTAL"/>
        </panelBar>
        <panelBar name="fxSlider">
          <section_bar x="1101" y="610" w="215" h="34"/>
          <position x="267" y="394"/>
         <section_thumb x="1150" y="558" w="42" h="42"/>
          <image_idle x="504" y="722" w="58" h="59"/>
          <image_hover x="221" y="721" w="61" h="61"/>
          <type value = "HORIZONTAL"/>
        </panelBar>

      </panelBars>

      <PanelCheckboxes>
        <!--
        <PanelCheckbox name="test_checkbox" function = "FpsCap">
          <panelPosition x="588" y="473"/>
          <panelSection x="293" y="666" w="200" h="36"/>
          <boxSection x="518" y="673" w="25" h="25"/>
          <tickSection x="555" y="678" w="18" h="18"/>
          <font value = "Open_Sans Bold"/>

          <checkboxLabels>
            <checkboxLabel name="labelInsideCheckbox">
              <text value = "FPS Cap"/>
              <color R="0" G="0" B="0" A="255"/>
              <font value = "1" size = "18"/>
            </checkboxLabel>

          </checkboxLabels>
        </PanelCheckbox>
-->
      </PanelCheckboxes>

      <buttons>
        <button name="button_backMenu" function = "GoBackToMenu">
          <idleSec x="1073" y="2456" w="215" h="64"/>
          <hoverSec x="1073" y="2521" w="215" h="64" />
          <clickSec x="1073" y="2586" w="215" h="64" />
          <position x="267" y="561"/>
        </button>
      </buttons>

    </Settings>

    <SettingsInGame>

      <images>
        <image name="bg_transparency">
          <section x="1320" y="1" w="1280" h="720"/>
          <position x="0" y="0"/>
        </image>
        <image name="scroll">
          <section x="1281" y="810" w="604" h="654"/>
          <position x="341" y="21"/>
        </image>
      </images>


      <labels>
        <label name="PauseMenu">
          <position x="500" y="93"/>
          <color R="0" G="0" B="0" A="255"/>
          <text value="PAUSE MENU"/>
        </label>
      </labels>

      <buttons>
        <button name="button_backMenu" function = "GoBackToStartMenu">
          <idleSec x="856" y="2725" w="215" h="64"/>
          <hoverSec x="856" y="2660" w="215" h="64" />
          <clickSec x="1072" y="2651" w="215" h="64" />
          <position x="530" y="440"/>
        </button>
        <button name="button_backGame" function = "GoBackToGame">
          <idleSec x="1073" y="2456" w="215" h="64"/>
          <hoverSec x="1073" y="2521" w="215" h="64" />
          <clickSec x="1073" y="2586" w="215" h="64" />
          <position x="530" y="551"/>
        </button>
      </buttons>

    </SettingsInGame>

    <Inventory>
      <images>
        <image name="bg_transparency">
          <section x="1320" y="1" w="1280" h="720"/>
          <position x="0" y="0"/>
        </image>
        <image name="inventoryPanel">
          <section x="68" y="2252" w="787" h="520"/>
          <position x="278" y="101"/>
        </image>
      <image name="marche_inv">
          <section x="1485" y="1468" w="96" h="183"/>
          <position x="534" y="133"/>
		  <charFlag value = "Marche"/>
        </image>
      <image name="ritz_inv">
          <section x="1364" y="1468" w="116" h="179"/>
          <position x="523" y="138"/>
		  <charFlag value = "Ritz"/>
        </image>
      <image name="shara_inv">
          <section x="1281" y="1468" w="81" h="183"/>
          <position x="543" y="133"/>
		  <charFlag value = "Shara"/>
        </image>
      
      </images>
    </Inventory>

  </scene>



  <map>
    <folder>maps/</folder>
    <levels>
      <level name="iso.tmx"/>
    </levels>
  </map>

  <loot>
    
    <gold min ="50" max ="300"/>
   
    
    <potions>
      <health_potion id="1" value ="2"/>  
    </potions>

    <equipable>
      <sword>
        <equipment id="1" character="marche" name="sword_1" min ="5" max ="20" />
        <equipment id="2" character="marche" name="sword_2" min ="10" max ="25"/>
        <equipment id="3" character="marche" name="legendary_sword" min ="20" max ="30"/>
      </sword>
      
      <armor>
        <equipment id="1" character="marche" name="armor_1"/>
        <equipment id="2" character="marche" name="armor_2"/>
        <equipment id="3" character="marche" name="legendary_armor"/>
      </armor>
      
      <bow>
        <equipment id="1" character="shara" name="bow_1"/>
        <equipment id="2" character="shara" name="bow_2"/>
        <equipment id="3" character="shara" name="legendary_bow"/>
      </bow>
      
      <vest>
        <equipment id="1" character="shara" name="vest_1"/>
        <equipment id="2" character="shara" name="vest_2"/>
        <equipment id="3" character="shara" name="legendary_vest"/>
      </vest>
      
      <rod>
        <equipment id="1" character="ritz" name="stick_1"/>
        <equipment id="2" character="ritz" name="stick_2"/>
        <equipment id="3" character="ritz" name="legendary_stick"/>
      </rod>
      <mantle>
        <equipment id="1" character="ritz" name="mantle_1"/>
        <equipment id="2" character="ritz" name="mantle_2"/>
        <equipment id="3" character="ritz" name="legendary_mantle"/>
      </mantle>
    </equipable>
    </loot>
</config>