<!-- Config file for the game -->

<config>
  <app cap_frames="false" framerate_cap="60">
    <title>Final Fantasy: Dawn of Ivalice</title>
    <organization>Pink King Games</organization>
  </app>
	
  <renderer>
    <vsync value="true"/>
  </renderer>

  <window>
    <resolution width="1024" height="768" scale="1"/>
    <fullscreen value="false"/>
    <borderless value="false"/>
    <resizable value="false"/>
    <fullscreen_window value="false"/>
  </window>

  <file_system>
    <path>data.zip</path>
  </file_system>

  <map>
    <folder>maps/</folder>
	  <levels>
      <level name="iso.tmx"/>
	  </levels>
  </map>

</config>