<!-- Config file for the game -->

<config>
  <app cap_frames="false" framerate_cap="60">
    <title>Final Fantasy: Dawn of Ivalice</title>
    <organization>Pink King Games</organization>
  </app>
	
  <renderer>
    <vsync value="true"/>
  </renderer>

  <window>
    <resolution width="1280" height="720" scale="2"/>
    <fullscreen value="false"/>
    <borderless value="false"/>
    <resizable value="false"/>
    <fullscreen_window value="false"/>
  </window>

  <file_system>
    <path>data.zip</path>
  </file_system>

  <gui>
    <atlas file="gui/atlasUi.png"/>
  </gui>

  <scene>
    <InGameUi>
      <images>

        <image name="box_abilities_grey">
          <section x="1" y="545" w="165" h="43"/>
          <position x="557" y="675"/>
        </image>
        <image name="life_bar">
          <section x="110" y="482" w="134" h="26"/>
          <position x="113" y="78"/>
        </image>
        <image name="bag">
          <section x="245" y="482" w="37" h="42"/>
          <position x="1210" y="675"/>
        </image>
        <image name="squareButton">
          <section x="283" y="482" w="35" h="15"/>
          <position x="1170" y="700"/>
        </image>
        <image name="LButton">
          <section x="319" y="482" w="35" h="15"/>
          <position x="125" y="23 "/>
        </image>
        <image name="RButton">
          <section x="355" y="482" w="35" h="15"/>
          <position x="198" y="23 "/>
        </image>
        <image name="box_player">
          <section x="391" y="482" w="63" h="80"/>
          <position x="40" y="21"/>
        </image>
        <image name="level_box">
          <section x="1 " y="519" w="57" h="24"/>
          <position x="41" y="118"/>
        </image>
        <image name="coin">
          <section x="59" y="519" w="25" h="25"/>
          <position x="1000" y="41"/>
        </image>
        <image name="panelTest">
          <section x="721" y="480" w="338" h="308"/>
          <position x="150" y="190"/>
          <flag isPanel = "1" panelName = "panelTest"/>
        </image>

      </images>


      <healthbars>
        <healthbar name="life_bar">
          <staticSection x="110" y="482" w="134" h="26"/>
          <dynamicSection x="111" y="515" w="132" h="24"/>
          <damageSection x="32" y="595" w="115" h="26"/>
          <position x="113" y="78"/>
          <type value="player"/>
        </healthbar>

		    <healthbar name="life_bar_enemy">
          <dynamicSection x="90" y="690" w="52" h="6"/>
          <position x="113" y="78"/>
          <type value="enemy"/>
        </healthbar>
		
      </healthbars>


      <clocks>
        <clock name=" clock 1">
          <section x="651" y="0" w="123" h="123"/>
          <position x="650" y="550"/>
          <type value="ability1"/>
        </clock>

		 <clock name=" clock 2">
          <section x="780" y="214" w="123" h="123"/>
          <position x="850" y="550"/>
          <type value="ability2"/>
        </clock>
		
		 <clock name=" clock 3">
          <section x="780" y="214" w="123" h="123"/>
          <position x="1050" y="550"/>
          <type value="ulti"/>
		  
        </clock>
		
      </clocks>


    </InGameUi>



    <InGameUiM>
      <images>                                         <!-- sword image changed to test   -->
        <image name="sword">
		<!--
          <section x="167" y="545" w="36" h="36"/>
          <position x="561" y="679 "/> -->
		  
		   <section x="784" y="0" w="120" h="120"/>
          <position x="650" y="550 "/>
		  
        </image>
        <image name="sword_ability">
          <section x="0" y="482" w="36" h="36"/>
          <position x="601" y="679"/>
        </image>
        <image name="glove">
          <section x="37" y="482" w="36" h="36"/>
          <position x="641" y="679"/>
        </image>
        <image name="orbe">
          <section x="74" y="482" w="35" h="36"/>
          <position x="681" y="679"/>
        </image>
        <image name="marche">
          <section x="455" y="482" w="58" h="77"/>
          <position x="41" y="22"/>
        </image>
        <image name="player2">
          <section x="514" y=" 482" w="55" h="28"/>
          <position x="188" y="41"/>
        </image>
        <image name="player3">
          <section x="570" y="482" w="55" h="28"/>
          <position x="115" y="41"/>
        </image>
      </images>
    </InGameUiM>


    <InGameUiS>
      <images>
        <image name="basic_shara">
          <section x="167" y="545" w="36" h="36"/>
          <position x="561" y="679 "/>
        </image>
        <image name="ability1_shara">
          <section x="0" y="482" w="36" h="36"/>
          <position x="601" y="679"/>
        </image>
        <image name="ability2_shara">
          <section x="37" y="482" w="36" h="36"/>
          <position x="641" y="679"/>
        </image>
        <image name="ulti_shara">
          <section x="74" y="482" w="35" h="36"/>
          <position x="681" y="679"/>
        </image>
        <image name="shara">
          <section x="257" y="545" w="47" h="64"/>
          <position x="55" y="35"/>
        </image>
        <image name="player2">
          <section x="514" y=" 511" w="55" h="28"/>
          <position x="188" y="41"/>
        </image>
        <image name="player3">
          <section x="514" y=" 482" w="55" h="28"/>
          <position x="115" y="41"/>
        </image>
      </images>
    </InGameUiS>



    <InGameUiR>
      <images>
        <image name="basic_ritz">
          <section x="167" y="545" w="36" h="36"/>
          <position x="561" y="679 "/>
        </image>
        <image name="ability1_ritz">
          <section x="0" y="482" w="36" h="36"/>
          <position x="601" y="679"/>
        </image>
        <image name="ability2_ritz">
          <section x="37" y="482" w="36" h="36"/>
          <position x="641" y="679"/>
        </image>
        <image name="ulti_ritz">
          <section x="74" y="482" w="35" h="36"/>
          <position x="681" y="679"/>
        </image>
        <image name="ritz">
          <section x="204" y="545" w="53" h="64"/>
          <position x="41" y="35"/>
        </image>
        <image name="player2">
          <section x="570" y="482" w="55" h="28"/>
          <position x="188" y="41"/>
        </image>
        <image name="player3">
          <section x="514" y="511" w="55" h="28"/>
          <position x="115" y="41"/>
        </image>
      </images>
    </InGameUiR>



    <StartMenu>
      <images>
        <image name="backgroundMenu">
          <section x="0" y="810" w="1280" h="720"/>
          <position x="0" y="0"/>
        </image>
      </images>
      <buttons>
        <button name="button_ingame" function = "FadeToScene">
          <idleSec x="305" y="572" w="81" h="37"/>
          <hoverSec x="387" y="572" w="83" h="39" />
          <clickSec x="471" y="572" w="83" h="39" />
          <position x="101" y="360"/>
        </button>
        <button name="button_settings" function = "SettingsScreen">
          <idleSec x="585" y="613" w="114" h="31"/>
          <hoverSec x="570" y="511" w="112" h="32" />
          <clickSec x="585" y="645" w="112" h="32" />
          <position x="101" y="430"/>
        </button>
        <button name="button_exit" function = "ExitGame">
          <idleSec x="305" y="614" w="138" h="32"/>
          <hoverSec x="445" y="613" w="140" h="33" />
          <clickSec x="555" y="572" w="140" h="33" />
          <position x="101" y="500"/>
        </button>

      </buttons>
    </StartMenu>

    <Settings>

      <images>
        <image name="backgroundSettings">
          <section x="0" y="1531" w="1280" h="720"/>
          <position x="0" y="0"/>
        </image>
      </images>
      
      <labels>
        <label name="test">
          <position x="0" y="0"/>
          <color R="255" G="255" B="255" A="255"/>
          <text value="Hello this is just a test to see
                if this can handle different lines
                I doubt it xD Lmao"/>
          
        </label>
      </labels>

      <panelBars>

        <panelBar name="volumeSlider">
          <section_bar x="1102" y="618" w="165" h="43"/>
          <position x="588" y="267"/>
          <section_thumb x="1115" y="558" w="29" h="38"/>
          <image_idle x="504" y="722" w="58" h="59"/>
          <image_hover x="221" y="721" w="61" h="61"/>
          <type value = "HORIZONTAL"/>
        </panelBar>
        <panelBar name="fxSlider">
          <section_bar x="1102" y="618" w="165" h="43"/>
          <position x="588" y="364"/>
          <section_thumb x="1115" y="558" w="29" h="38"/>
          <type value = "HORIZONTAL"/>
        </panelBar>

      </panelBars>

      <PanelCheckboxes>

        <PanelCheckbox name="test_checkbox" function = "FpsCap">
          <panelPosition x="588" y="473"/>
          <panelSection x="293" y="666" w="200" h="36"/>
          <boxSection x="518" y="673" w="25" h="25"/>
          <tickSection x="555" y="678" w="18" h="18"/>
          <font value = "Open_Sans Bold"/>

          <checkboxLabels>
            <checkboxLabel name="labelInsideCheckbox">
              <text value = "FPS Cap"/>
              <color R="0" G="0" B="0" A="255"/>
              <font value = "1" size = "18"/>
            </checkboxLabel>

          </checkboxLabels>
        </PanelCheckbox>

      </PanelCheckboxes>

      <buttons>
        <button name="button_backMenu" function = "GoBackToMenu">
          <idleSec x="585" y="678" w="93" h="40"/>
          <hoverSec x="585" y="719" w="94" h="42" />
          <clickSec x="585" y="762" w="95" h="42" />
          <position x="588" y="561"/>
        </button>
      </buttons>

    </Settings>

    <SettingsInGame>
      
      <labels>
        <label name="test">
          <position x="530" y="70"/>
          <color R="255" G="255" B="255" A="255"/>
          <text value="PAUSE MENU"/>
        </label>
      </labels>

      <buttons>
        <button name="button_backGame" function = "GoBackToGame">
          <idleSec x="585" y="678" w="93" h="40"/>
          <hoverSec x="585" y="719" w="94" h="42" />
          <clickSec x="585" y="762" w="95" h="42" />
          <position x="588" y="561"/>
        </button>
      </buttons>
      
    </SettingsInGame>

  </scene>



  <map>
    <folder>maps/</folder>
	  <levels>
      <level name="iso.tmx"/>
	  </levels>
  </map>

  <loot>
    <Money>
    <gold id ="1" value ="30"/>
    <gold id ="2" value ="40"/>
    <gold id ="3" value ="50"/>
    </Money>
    
    <potions>
      <health_potion id="1" value ="25"/>  
    </potions>

    <equipable>
      <sword>
        <equipment id="1" character="marche" name="sword_1" dmg ="10" />
        <equipment id="2" character="marche" name="sword_2" dmg ="16"/>
        <equipment id="3" character="marche" name="legendary_sword" dmg ="20"/>
      </sword>
      
      <armor>
        <equipment id="1" character="marche" name="armor_1" level ="1" cooldown ="1.1" />
        <equipment id="2" character="marche" name="armor_1" level ="2" cooldown ="1.2" />
        <equipment id="3" character="marche" name="armor_1" level ="3" cooldown ="1.4" />
        <equipment id="4" character="marche" name="armor_2" level ="1" dmg_back ="0.05" />
        <equipment id="5" character="marche" name="armor_2" level ="2" dmg_back ="0.15" />
        <equipment id="6" character="marche" name="armor_2" level ="3" dmg_back ="0.3" />
        <equipment id="7" character="marche" name="legendary_armor" level ="1" cooldown ="1.1" dmg_back ="0.05" />
        <equipment id="8" character="marche" name="legendary_armor" level ="2" cooldown ="1.2" dmg_back ="0.15" />
        <equipment id="9" character="marche" name="legendary_armor" level ="3" cooldown ="1.3" dmg_back ="0.3" />
      </armor>
      <bow>
        <equipment id="1" character="shara" name="bow_1" level ="1" attck_spd ="1.15" />
        <equipment id="2" character="shara" name="bow_1" level ="2" attck_spd ="1.3" />
        <equipment id="3" character="shara" name="bow_1" level ="3" attck_spd ="1.5" />
        <equipment id="4" character="shara" name="bow_2" level ="1" slow ="1.3" />
        <equipment id="5" character="shara" name="bow_2" level ="2" slow ="1.5" />
        <equipment id="6" character="shara" name="bow_2" level ="3" slow ="1.8" />
        <equipment id="7" character="shara" name="legendary_bow" level ="1" attck_spd ="1.15" slow ="1.3" />
        <equipment id="8" character="shara" name="legendary_bow" level ="2" attck_spd ="1.3" slow ="1.5" />
        <equipment id="9" character="shara" name="legendary_bow" level ="3" attck_spd ="1.5" slow ="1.8" />
      </bow>
      <vest>
        <equipment id="1" character="shara" name="vest_1" level ="1" cooldown ="1.1" />
        <equipment id="2" character="shara" name="vest_1" level ="2" cooldown ="1.2" />
        <equipment id="3" character="shara" name="vest_1" level ="3" cooldown ="1.4" />
        <equipment id="4" character="shara" name="vest_2" level ="1" poison_back ="0.5" />
        <equipment id="5" character="shara" name="vest_2" level ="2" poison_back ="0.7" />
        <equipment id="6" character="shara" name="vest_2" level ="3" poison_back ="1" />
        <equipment id="7" character="shara" name="legendary_vest" level ="1" cooldown ="1.1" poison_back ="0.5" />
        <equipment id="8" character="shara" name="legendary_vest" level ="2" cooldown ="1.2" poison_back ="0.7" />
        <equipment id="9" character="shara" name="legendary_vest" level ="3" cooldown ="1.4" poison_back ="1" />
      </vest>
      <rod>
        <equipment id="1" character="ritz" name="stick_1" level ="1"  chance ="5" heal ="1.15"  />
        <equipment id="2" character="ritz" name="stick_1" level ="2"  chance ="10" heal ="1.25"  />
        <equipment id="3" character="ritz" name="stick_1" level ="3"  chance ="15" heal ="1.35"  />
        <equipment id="4" character="ritz" name="stick_2" level ="1"  paralyze="0.4"  />
        <equipment id="5" character="ritz" name="stick_2" level ="2"  paralyze="0.6"  />
        <equipment id="6" character="ritz" name="stick_2" level ="3"  paralyze="0.9"  />
        <equipment id="7" character="ritz" name="legendary_stick" level ="1"  chance ="5" heal ="1.15" paralyze="0.4" />
        <equipment id="8" character="ritz" name="legendary_stick" level ="2"  chance ="10" heal ="1.25" paralyze="0.6" />
        <equipment id="9" character="ritz" name="legendary_stick" level ="3"  chance ="15" heal ="1.35" paralyze="0.9" />
      </rod>
      <mantle>
        <equipment id="1" character="ritz" name="mantle_1" level ="1"  cooldown ="1.1"  />
        <equipment id="2" character="ritz" name="mantle_1" level ="2"  cooldown ="1.2"  />
        <equipment id="3" character="ritz" name="mantle_1" level ="3"  cooldown ="1.4"  />
        <equipment id="4" character="ritz" name="mantle_2" level ="1"  insta_death="0.05"  />
        <equipment id="5" character="ritz" name="mantle_2" level ="2"  insta_death="0.1"  />
        <equipment id="6" character="ritz" name="mantle_2" level ="3"  insta_death="0.15"  />
        <equipment id="7" character="ritz" name="legendary_mantle" level ="1"  cooldown ="1.1" insta_death="0.05" />
        <equipment id="8" character="ritz" name="legendary_mantle" level ="2"  cooldown ="1.2" insta_death="0.1" />
        <equipment id="9" character="ritz" name="legendary_mantle" level ="3"  cooldown ="1.4" insta_death="0.15" />>
      </mantle>
    </equipable>
    </loot>
</config>